* {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.img-button {
    box-shadow: none;
    text-shadow: none;
    border: 1px solid black;
}

.img-button[disabled] {
    border-color: grey;
}

*:focus {
    border: 5px solid black;
}

#search-button {
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: white;
    background-color: blue;
}

#search-button:focus,  #search-button:hover,  #search-button:active {
    background-color: darkblue;
}

#search-results {
    border: 1px solid black;
}

.red-button {
    color: white;
    background-color: #DD0000;
}

.red-button:focus, .red-button:hover, .red-button:active {
    background-color: #880000;
}

.green-button {
    color: white;
    background-color: green;
}

.green-button:focus, .green-button:hover, .green-button:active {
    background-color: darkgreen;
}

tr {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.navigation-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.inner-element {
    margin: 0 10px;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#confirmation {
    color: darkgreen;
    background-color: lightgreen;
    padding: 10px;
}

form > div, #search-results {
    margin: 5px;
}

input[type="submit"] {
    box-shadow: none;
    text-shadow: none;
    border: none;
}

.skip-button {
    position: absolute;
    top: -40px;
    left: 0;
    background: green;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-button:focus {
    top: 0;
}